entrypoint = "main.py"
modules = ["python-3.11", "web"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "openssl", "pkg-config", "postgresql", "qhull", "swig", "tcl", "tk", "xcbuild", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "--reuse-port", "main:app"]
deploymentTarget = "autoscale"

[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Web App"

[[workflows.workflow]]
name = "Flask Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv run python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
