/* :root {
  --main-color: #9C30F4;
  --color-gradient-main: linear-gradient(90deg, #a844e2, #ff4d8b);
} */


:root {

  --main-color: #9C30F4;
  --color-gradient-main: linear-gradient(90deg, #a844e2, #ff4d8b);


   --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 10%, 3.9%);
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 5%, 64.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --primary: hsl(262, 83%, 58%);
  --primary-foreground: hsl(210, 40%, 98%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --accent: hsl(240, 4.8%, 95.9%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(60, 9.1%, 97.8%);
  --ring: hsl(240, 10%, 3.9%);
  --radius: 0.75rem;

    --gradient: linear-gradient(to right, #2563eb, #9333ea);
    --header-color: #111827;

   /* Custom gradient colors */
  --gradient-primary: linear-gradient(135deg, hsl(238, 83%, 62%) 0%, hsl(262, 83%, 58%) 100%);
  --gradient-secondary: linear-gradient(135deg, hsl(195, 100%, 50%) 0%, hsl(221, 83%, 53%) 100%);
  --gradient-accent: linear-gradient(135deg, hsl(142, 76%, 36%) 0%, hsl(158, 64%, 52%) 100%); 


  
}




/* body {
    background-color: rgb(247, 248, 249);
} */


/* a {
    color: var(--main-color);
} */

.page-wrapper .page-body-wrapper .page-title {
    /* margin: 20px 0; */
   margin: 0 0 20px 0;
   padding: 0 0;
}

 /* margin: 20px 0;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 15px; */

h5 {
    color: var(--header-color);
    font-weight: 600;
    letter-spacing: -0.025em;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
} 
h6 {
    color: var(--header-color);
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body  {
    /* margin-top: 130px; */
    margin-top: 90px;
}




.logoname {
    font-size: 23px;
    font-weight: 500;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: -0.5px;
    word-spacing: 1px;
}

.welcome-heading h2 {
    font-weight: 700;
    color: var(--header-color);
    letter-spacing: -0.025em;
}



/* .h1-heading {
    font-weight: 600;
    color: var(--header-color);
    letter-spacing: -0.025em;
} */

.h1-heading {
    font-weight: 700;
    color: var(--header-color);
    letter-spacing: -0.025em;
    font-size: 30px;
}



.h6-heading {
    font-weight: 600;
    color: var(--header-color);
    letter-spacing: -0.025em;
}

.page-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content li a i {
    padding-right: 10px;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active {
    /* background: linear-gradient(to left, #4d2c57, #3f274f); */
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
    /* background: linear-gradient( to right, #482E4F, #432F55); */
    width: 90%;
    margin: 3px 12px 3px 12px;
    border-radius: 10px;
    /* color: #fff; */
    color: #fff;
}


.iconActive {
    color: #fff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active::after {
    opacity: 0;
    visibility: visible;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-list:hover i.fa-solid.fa-thumbtack {
    display: none;
}


/* .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .simplebar-content {
    height: 78vh;
} */

.custom-sidebar-footer {
    background-color: #ffffff;
    position: fixed;
    /* bottom: 5px; */
    bottom: 0px;
}


.custom-profile {
    margin: 8px 15px 8px 12px;
    padding: 0;
    /* width: 90%; */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 8%);
    /* position: fixed;
    bottom: 10px; */
}

.custom-profile .btn-group {
    padding: 12px 10px;
}

.profile-btn {
    padding: 10px 8px;
}

.custom-profile .custom-btn-info {
    background-color: transparent;
    color: #000;
}

/* .sidebar-footer {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin: 3px 12px 3px 12px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 8%);
} */

.profile-circle {
    /* background: #d851ff; */
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
    color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info .name {
    font-size: 13px;
    font-weight: 500;
    /* color: #fff; */
}

.profile-info .role {
    font-size: 11px;
    color: #bbb;
}

.status-dot {
    width: 8px;
    height: 8px;
    background: #00ff00;
    border-radius: 50%;
}


.bell-ican {
    /* background: linear-gradient(to right, #b14efc, #ff5c93); */
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.custom-grid-box {
    border-radius: 20px;
    /* box-shadow: 0 6px 16px rgba(0, 0, 0, 8%); */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 2%);
    /* transition: transform 0.3s ease; */
    
    font-weight: 500;
    background: #ffffff;   
  
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.custom-grid-box span {
    color: #4B5563;
    font-weight: 400;
}

.custom-grid-box:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
   transform: scale(1.03) translatey(-4px);
}

.grid-container {
      animation: fadeInUp 0.8s ease-out forwards;
}

.animate-slide-up { animation: slideUp 0.8s ease-out forwards; }


@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* .hover\:shadow-xl:hover {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */

/* .custom-grid-box:hover {
    transform: scale(1.05);
} */
 /* .page-wrapper .page-header {
    
    background-color: #f7f8f9;
     box-shadow: unset;
} */

.total-post {
    padding: 20px;
    border-radius: 20px;
}

.total-post .custom-badge {
    background: linear-gradient(90deg, #32DA87, #1ECF96);
}

.custom-badge {
    color: #fff;
    /* background-color: #4bce7d3b; */
    background-color: limegreen;
    padding: 3px 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
}

.engagement-rate {
    padding: 20px;
    border-radius: 20px;
}

.engagement-rate .custom-badge {
    background: linear-gradient(135deg, #FF9B53, #FF6C3A);
}

.engagement-ican {
    /* background: linear-gradient(135deg, #3AAFFF, #1A3C5C); */
    background-color: #00B9F1;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.followers {
    padding: 20px;
    border-radius: 20px;
}

.followers .custom-badge {
    background: linear-gradient(135deg, #F5C6FF, #D98AFF);
}

.icon-users {
    /* background: linear-gradient(135deg, #00D97E, #004D42); */
    background-color: #00C48C;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.reach {
    padding: 20px;
    border-radius: 20px;
}

.reach .custom-badge {
    background: linear-gradient(135deg, #A58BFF, #7560FF);
}


.reach-icon {
    /* background: linear-gradient(135deg, #FF5722, #BF360C); */
    background-color: #FF4C8B;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}


.accounts-section {
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
}

.accounts-grid-box {
    border-radius: 20px;
    /* color: white; */
    transition: transform 0.3s ease;
}

.accounts-grid-box.card {
    margin-bottom: 10px;
}

.instagram-ican-bg {
    background: linear-gradient(to right, #b14efc, #ff5c93);
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}

.linkedin-ican-bg {
    background: linear-gradient(135deg, #0077B5, #005582);
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}

.card-bg .card {
    margin-bottom: 10px;
}


.get-started-steps-one {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
}

.get-started-steps-two {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
}

.get-started-steps-two {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #5b8df6, #8f4eda);
}


.get-started-progress {
    background-color: #dcdcdc87;
    border-radius: 100px;
    width: 100%;
    height: 10px;
    overflow: hidden;
    /* Ensures inner bar stays rounded */
    position: relative;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}

.custom-progress-bar {
    /* background: linear-gradient(90deg, #5b8df6, #8f4eda); */
    background: var(--color-gradient-main);
    width: 75%;
    height: 100%;
    border-radius: 100px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    /* background: var(--color-gradient-main); */
    background: linear-gradient(to right, #2563eb, #9333ea);
    padding: 10px 16px;
    border: 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 50px;
}



.btn-primary:hover {
    /* background: linear-gradient(90deg, #ff4d8b, #a844e2); */
     background: linear-gradient(to right, #9333ea, #2563eb);
    /* transform: scale(1.03); */
    transform: scale(1.01);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* .accounts Connect  */

.custom-accounts-card .card {
    margin-bottom: 15px;
}

.custom-accounts-card P {
    font-size: 14px;
    color: #6B7280;
}

.custom-accounts-card P span {
    color:var(--header-color);
    font-weight: 500;
}

.custom-accounts-card P .green-text {
    color: #16A34A;
}

.disconnect-btn {
    width: 40px;
    height: 35px;
    border: 1px solid rgb(254 202 202);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220 38 38);
    border-radius: 50px;
    padding: 11px;
}

.icon-dropdown .fa-gear::before {
    color: #9C30F4;
}

input.form-control.border.search-industry-input {
    box-shadow: rgba(46, 35, 94, 0.07) 0px 9px 20px;
}

.software-development.card {
    margin-bottom: 10px;
}
.software-development.card h6 {
    /* font-size: 13px; */
    font-size: 1rem;
}

.software-development .custom-badge {
    color: #fff;
    background: linear-gradient(90deg, #32DA87, #1ECF96);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.remote-work .custom-badge {
    background: linear-gradient(135deg, #A58BFF, #7560FF);
    color: #fff;
}

.ai-technology .custom-badge {
    background: linear-gradient(135deg, #FF9B53, #FF6C3A);
    color: #fff;
}

.custom-draft-post.card h6 {
    font-size: 16px;
    font-weight: 600;
    color: var(--header-color);
}

.custom-draft-post.card p {
    font-size: 11px;
}

.custom-draft-post .edit-ican {
    font-size: 11px;
}

table.table.table-hover.table-striped.custom-post-list tr td:nth-child(n+2) {
    min-width: 225px;
}

.h6-card-heading {
   font-size: 24px;
   font-weight: 700;
   color: var(--header-color);
}

.main-session-devices .common-align {
    flex-direction: column;
    gap: 18px;
    align-items: unset;
}

.main-session-devices .common-align p {
    font-size: 14px;
}

.mobile-devise-img {
    object-fit: cover;
    display: block;
    width: 90px;
    /* width: 260px; */
    max-height: 90px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}


/* my profile style */
  .left-panel {
      flex: 1 1 300px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    /* .profile-pic {
      position: relative;
      width: 100%;
      padding-top: 100%;
      border-radius: 12px;
      overflow: hidden;
      background: #f3f4f6;
    } */

    .profile-pic img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove-btn {
      position: absolute;
      top: 6px;
      right: 6px;
      background-color: white;
      border: none;
      border-radius: 50%;
      font-size: 18px;
      width: 28px;
      height: 28px;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .upload-btn {
      background-color: #f3f4f6;
      padding: 10px;
      border: 1px dashed #ccc;
      border-radius: 6px;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
    }

     .right-panel {
      flex: 2 1 600px;
    }

    .form-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 16px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group label {
      font-size: 14px;
      margin-bottom: 4px;
      color: #333;
    }

    .form-group input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
/* my profile end  */

img.profile-pic-popup {
    margin-right: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}




/* inbox page style start */

.post-view-card {
    padding: 20px;
}

.username-card {
    padding: 18px 10px;
    border-bottom: 1px solid #F1EFFF;
    background-color: #fff;
}

.username-card span.text-truncate {
    color: var(--header-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.025em;
}

.your-acounts {
    font-size: 12px;
    color: rgb(107 114 128)
}



.custom-dropdown-toggle {
  background: #fff !important;
  border: 1px solid #ddd;
  padding: 12px 14px !important;
  border-radius: 8px;
  font-size: 14px;
  color: var(--header-color) !important;
  min-width: 180px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dropdown menu */
.custom-dropdown {
  border-radius: 8px;
  padding: 5px 5px;
  min-width: 180px;
  font-size: 14px;
  margin: 5px;
  background-color: #fff;
}

/* Dropdown items */
.custom-dropdown .dropdown-item {
  padding: 8px 8px 8px 25px;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 6px;
  border: 1px solid transparent;
  margin: 2px;
  font-weight: 400;
  font-size: 15px;
color: var(--header-color) !important;

}

/* Hover effect */
button.btn.custom-dropdown-toggle.dropdown-toggle:hover {

 border: 1px solid #6746eaaf !important;
}

/* Active item */
.custom-dropdown .dropdown-item.active {
  background: #f0f0f0;
  position: relative;
}

/* Tick/Checkmark for active */
.custom-dropdown .dropdown-item.active::before {
  content: "✔";
  position: absolute;
  left: 8px;
  font-size: 12px;
  color: var(--header-color) !important;
}


.messages-filter-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: transparent !important;
  border: 0;
  cursor: pointer;
  background: #fff;
  padding: 0; /* remove padding so icon stays centered */
}

.messages-filter-btn svg {
  width: 20px;
  height: 20px;
  stroke: #000; /* make sure it's visible */
}


.inbox-sidebar {
    overflow-y: auto;
    height: 100%;
    min-height: auto;
    max-height: 420px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.inbox-sidebar::-webkit-scrollbar {
  display: none;
}

.search-container {
    position: relative;
    /* padding: 5px 13px 18px 13px; */
}

.search-input {
    height: 50px;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid rgb(235, 230, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container svg {
    stroke: rgb(156 163 175); /* if it’s stroke-based */
}


.messages-scrolling {
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.messages-scrolling ::-webkit-scrollbar {
  display: none;
}


.messages-send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* inbox page style end */

/* facebook-analytics-detail page style  start */

.facebook-ican {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 13px;
    color: #fff;
}

.nav-tabs {
    border: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid transparent;
    font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    border-radius: 10px;
}
 

/* icans  */
svg.text-purple {
    color: #9333EA;
}
svg.text-indigo {
   color: rgb(79 70 229);
 }
svg.text-rose {
    color: rgb(225 29 72);
}

/* comments sections  style start */

.custom-blue-badge {
  background-color: #DBEAFE; /* Tailwind bg-blue-100 */
  color: #1D4ED8;           /* Tailwind text-blue-700 */
  font-weight: 600;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}


.comments-card {
    padding: 17px 15px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.027), 0 2px 2px -2px rgba(0, 0, 0, 0.034);
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.comments-card:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.comments-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: transparent;
    border-radius: 8px;
    background-color: transparent !important;
    border: 0;
    cursor: pointer;
    background: #fff;
}


.comments-card .comments-card-img {
    border-radius: 12px;
    width: 65px;
    height: 65px;
}


.comments-reply-card {
    margin: 10px 0px 10px 35px;
    border: 1px solid rgb(26 79 187 / 5%);
    background-color: #F3F7FE;
    padding: 20px;
}

.comments-reply-card input {
    border-radius: 12px;
}

.comments-reply-card button {
    border: 1px solid hsl(240, 5.9%, 90%);
    background-color: #fff;
    border-radius: 10px;
    padding: 7px 12px;
    font-size: 12px;
}

.reply-btn {
    background: linear-gradient(to right, #2563eb, #9333ea);
    color: #fff;
}

.reply-btn:hover {
    background: linear-gradient(to right, #9333ea, #2563eb );
}

/* .comments-reply-card-2th  {
    
} */



.comments-progress-circle {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.progress-ring__background {
  fill: none;
  stroke: #e5e7eb; /* light gray */
  stroke-width: 8;
}

.progress-ring__circle {
  fill: none;
  stroke: #22c55e; /* green */
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 283; /* 2 * π * r (2 * 3.14 * 45) */
  stroke-dashoffset: 85; /* dynamic progress */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s;
}

.progress-text {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* .analytics-tread-card .positive {
    color: #22C55E;
}
.analytics-tread-card .neutral
{
    color: #6B7280;
} 
.analytics-tread-card .negative
{
    color: #6B7280;
}  */
/* comments sections  style end */

/* Calendar style tab style start */


.rbc-toolbar > span {
  display: flex;  /* make spans act like flex children */
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px !important;
  
}
.rbc-toolbar > span > button {
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 14px;
    color: var(--header-color);
}
.rbc-toolbar > span > button:hover {
    border: 1px solid transparent;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 10px !important;
}

.rbc-btn-group > button:first-child:not(:last-child) {
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    border-radius: 10px !important;
}

.rbc-btn-group > button:last-child:not(:first-child) {
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
    border-radius: 10px !important;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    /* background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: #e6e6e6;
    border-color: #adadad; */
    background: linear-gradient(to right, #2563eb, #9333ea) !important;
    color: #fff !important;
    border: 1px solid transparent;
}


.rbc-header {
    padding: 15px;
    font-size: 14px;
    border: 0;
}
.rbc-header + .rbc-header {
    /* border-left: 1px solid #ddd; */
     border-left: 0px solid #ddd;
}
.rbc-month-row + .rbc-month-row {
    /* border-top: 1px solid #ddd; */
     border-top: 0px solid #ddd;
}
.rbc-month-view {
    /* border: 1px solid #ddd; */
    border: 0;
    margin-bottom: 20px;
}
.rbc-button-link {
    /* margin: 0;
    padding: 0; */
    padding: 2px;
}

.rbc-show-more {
    font-size: 65% !important;
}

.rbc-row-bg .rbc-day-bg {
  margin: 3px;              /* similar to Tailwind gap-2 */
  border-radius: 5px;       /* rounded corners */
  overflow: hidden;  
  padding: 10px;       /* keep events inside rounded shape */
  border: 1px solid #ddd;
}
/* Calendar style tab end  */




/* facebook-analytics-detail page style end */

/* linkedin-analytics-detail page style start */

.linkedin-ican {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 13px;
    color: #fff;
}


/* linkedin-analytics-detail page style end */


/* Settings page style start */

.user-profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.img-upload-btn {
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.img-remove-btn {
    font-weight: 600;
    text-decoration: none;
}

.label-ican {
    position: relative;
    top: 33px;
}

.custom-form-label label {
    font-weight: 500;
    color: var(--header-color);
}

.auto-switch-btn.form-switch .form-check-input {
    width: 3em;
    height: 20px !important;
}

.security-privacy {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    color: var(--header-color);
}

.security-privacy:hover {
    background-color: #F4F4F5;
}


.danger-zone {
    border: 1px solid rgba(255, 0, 0, 0.116);
    background-color: #FAF5F7;
}

.danger-zone p {
    line-height: 20px;
    font-size: 12px;
    color: rgb(220 38 38);
}
.danger-zone h6 {
    color: rgb(185 28 28);
    margin-bottom: 5px;
 }

 .danger-zone button {
    padding: 9px 14px;
    border: 1px solid rgba(255, 0, 0, 0.521);
    border-radius: 12px; 
    background-color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 500;
    color: red;
 }

.messages-modal.modal-backdrop.show {
  opacity: 0.5 !important;
  z-index: 1050 !important;
}

.messages-modal.modal {
  z-index: 1060 !important;
}

.custom-outline-btn {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--header-color);
}

.custom-outline-btn:hover {
    background-color: #F4F4F5;
}
/* Settings page style end */


/* knowledge-base page style start */

.primary-badge {
    background-color: rgb(219 234 254);
    color: rgb(29 78 216);
    padding: 2px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
 }

 .green-badge {
    background-color: rgb(209, 250, 229);
    color: rgb(21 128 61);
    padding: 2px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    border: 0;
 }

 #categorySelect {
    padding: 10px;
 }

 .custom-hashtag-badge {
    background-color: #F4F4F5;
    color: var(--header-color);
    padding: 2px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
 }

 /* knowledge-base page style end */

  /* all-accounts page style start */

  .table.all-accounts-table {
  border-collapse: separate;   /* allows radius & spacing */
  border-spacing: 0 10px;      /* space between rows */
}

.table.all-accounts-table tbody tr {
  height: 55px;
  background: #fff;           
  border-radius: 12px;         
  overflow: hidden;
box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
 /* transition: all 0.3s ease;  */
  /* transition: all 0.25s ease .4s; */
}
.table.all-accounts-table tbody tr:hover{
    /* transform: translateY(-1px) scale(1.01); */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.table.all-accounts-table tbody tr td {
  border: none !important;     /* remove table borders */
  vertical-align: middle;
}
.table.all-accounts-table tbody tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table.all-accounts-table tbody tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.performance-metrics-card {
    /* width: 110px;
    height: 92px; */
    width: 92px;
    height: 74px;
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.performance-metrics-card h6 {
    font-size: 14px;
}
.performance-metrics-card p {
    font-weight: 400;
}
.table {
    border-collapse: separate;   /* allows radius & spacing */
    border-spacing: 0 10px;      /* space between rows */
}
.table tbody tr {
    height: 55px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}
.table tbody tr:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.table tbody tr td {
  border: none !important;
  vertical-align: middle;
}
.table tbody tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table tbody tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.bg-7-primary {
    border-radius: 12px !important;
}
.bg-7-info {
    border-radius: 12px !important;
}
.yellow-badge {
    background-color: #FFF3CD;
    color: #A16207;
    padding: 2px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    border: 0;
}
.report-card {
    border: 1px solid transparent;
    border-radius: 15px;
}
.report-card.active {
  background-color: #f7f5ff !important;
  border: 1px solid #1f45b82f;
}
.report-card:hover {
    border: 1px solid #1f45b82f;
}
.custom-followers.circular-progress {
  background: conic-gradient(#fcb07d calc(var(--progress)), #f5f5f5 0deg);
}
.custom-followers.circular-progress .progress-value span {
  color: #fcb07d !important;
}
.custom-reach.circular-progress {
  background: conic-gradient(#f29cbb calc(var(--progress)), #f5f5f5 0deg);
} 
.custom-reach.circular-progress .progress-value span {
  color: #f29cbb !important;
}

/* facebook-analytics-detail end  */
.custom-selected-pages {
    width: 260px;
    /* width: 100%;
  max-width: 320px; */
    padding: 9px;
}
.custom-calendarPicker {
    width: 350px;
    max-width: 400px;
    
}

/* .custom-calendarPicker {
     width: 100%;
    max-width: 450px;
} */

/* Published post page style start */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.layout-btn {
    padding: 6px 13px;
    background-color: #fff;
    border: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.layout-btn.active {
   padding: 6px 13px;
    font-size: 16px;
     border: 0;
    color: #fff;
    background: linear-gradient(to right, #2563EB, #9333EA);
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1); */
    border-radius: 10px;
}
.published-card-posts {
    transition: all 0.2s ease;
    overflow: hidden;
}
.published-card-posts:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transform: translateY(-3px);
}
 /* Published post page style end */

.data-table-wrapper {
  width: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}



/* comments-sticky-header */

.comments-container {
    height: 550px;       
    overflow-y: auto;      
    overflow-x: hidden;    
    position: relative;   
    background-color: #fff;
    border-radius: 20px;
    z-index: 0;
}

.comments-sticky-header {
    position: sticky !important;
    top: 0px;    
    z-index: 1000; 
    background: #fff;
    width: 100%;
}


/* comments-sticky-header */









/* side bar style start  */



.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 265px;
  height: 100vh;
  background: #fff;
  transition: all 0.4s ease;
  z-index: 999;
}

/* Collapsed state: slide sidebar left */
.sidebar-wrapper.collapsed {
  /* transform: translateX(-265px); */
  width: 110px !important;
}

/* collapsed */     

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.collapsed .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li {
    text-align: center;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.collapsed .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link {
    font-size: 10px;
    /* margin: 4px 10px 4px 10px; */
    border-radius: 8px;
     /* display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column; */
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.collapsed .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px 6px;
    margin: 5px;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.collapsed .sidebar-main .sidebar-links li a svg {
    margin: 0;
}

.page-wrapper.compact-wrapper 
  .page-body-wrapper 
  div.sidebar-wrapper.collapsed 
  .sidebar-main 
  .sidebar-links 
  .simplebar-wrapper 
  .simplebar-mask 
  .simplebar-content-wrapper 
  .simplebar-content > li:last-child {
    margin-bottom: 60px;
}

.sidebar-wrapper.collapsed {
    height: 100vh;
    padding-bottom: 50px;
}


.sidebar-wrapper.collapsed .logo-wrapper .logoname {
    display: none;
}
.sidebar-wrapper.collapsed .logo-wrapper p {
    display: none;
}

/* Toggle Button */
.toggle-sidebar {
    width: 40px;
    height: 40px;
    position: absolute;
    /* top: 24px; */
    top: 17px; 
    right: -65px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-sidebar:hover {
  background: #f5f5f5;
}

.toggle-sidebar:before {
    position: absolute;
    top: 0;
    left: 0;
}



/* Body transition */
.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
  /* margin-left: 265px; */
  /* margin-left: 0px; */
  transition: margin-left 0.4s ease;
  padding: 20px;
  min-height: 100vh;
}

.simplebar-mask {
    margin: 0 0 90px 0 !important;
}
/* side bar style end   */


@media only screen and (max-width: 991.98px) {
  .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper .toggle-sidebar {
    /* display: none; */
    display: block;
  }

  /* .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper .toggle-sidebar {
    display: none;
  } */

  /* .toggle-sidebar {
    left: 282px !important;
  } */

  .page-wrapper.compact-wrapper .page-header .header-wrapper .toggle-sidebar {
  display: none !important;
}
  
  .header-search {
    display: none;
  }

/* .status_toggle .toggle-sidebar {
    display: none;
} */
   .page-wrapper.compact-wrapper .page-header .header-wrapper .toggle-sidebar {
    /* display: none; */
    display: block;
   }

   

}


@media (min-width: 310px) and (max-width: 992px)  {

   /* .toggle-sidebar {
    left: 282px !important;
  } */

    /* .sidebar-wrapper {
    transform: translateX(0); 
    transition: transform 0.4s ease;
  }
 
  .sidebar-wrapper.collapsed {
    transform: translateX(-265px); 
    width: 265px; 
  } */

  .sidebar-wrapper {
    transform: translateX(-265px); 
    transition: transform 0.4s ease;
  }

  .sidebar-wrapper.collapsed {
    transform: translateX(0px); 
  }

   

}
