/* table style start  */

/* .modal:nth-of-type(even) {
    z-index: 1062 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}
    */

 /* Target the scrollbar itself */
::-webkit-scrollbar {
  width: 6px;            /* Vertical */
  height: 8px;            /* Horizontal */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    

.processing-line {
  border-left: 2px solid green;
}

.split-table-wrapper {
  display: flex;
  width: 100%;
}

.left-table {
  min-width: 200px;
  max-width: 200px;
  border-right: 1px solid #ddd;
}

.right-table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table th,
.table td {
  white-space: nowrap;
}

/* Optional: Ensure row heights match */
.table tbody tr {
  height: 55px;
}

/* table style end  */


/* modal-dialog box  style start */

/* .modal-body {
    height: 550px;
    overflow-y: scroll;
} */

.custom-y-scroll {
  height: 550px;
  overflow-y: scroll;
}

.custom-modal-width {
  max-width: 80%;
  width: 80%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: none;
  /* hidden by default */
}

/* Optional: z-index stacking if using backdrop classes */
.modal-backdrop:nth-of-type(1) {
  z-index: 1040 !important;
}

.modal-backdrop:nth-of-type(2) {
  z-index: 1055 !important;
}


/* :checked hide show style  */

.hidden-content {
  display: none;
}

#cb1:checked~.checkbox+.hidden-content {
  display: block;
}


.checkboxInput:checked~.checkbox+.hidden-content {
  display: block;
}

/* #cb1:checked ~ .checkbox {
        background: black;
    } */

/* .checkbox {
        width: 10px;
        height: 10px;
        border: 1px solid black;
        margin-top: 5px;
    } */


/* modal-dialog box  style end */


.form-label {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0;
}


.custom-border-bottom {
  border-bottom: 1px solid rgb(0 0 0 / 18%);
  padding-bottom: 18px;
}


/* modal-dialog box two  style start */

.edit-audience-modal {
  height: 490px;
  overflow-y: scroll;
}

.gender-section .btn-outline-primary {
  background-color: #d9dee9;
  /* light gray background */
  color: #1c2c4c;
  border: none;
}

.gender-section .btn-check:checked+.btn-outline-primary {
  background-color: #12264e;
  /* dark blue active background */
  color: #fff;
  z-index: 0;
}

.age-select {
  background-color: #d9dee9;
  border: none;
  color: #1c2c4c;
  font-weight: 600;
  width: 100px;
  text-align: center;
  border: 2px solid #d9dee9;
  ;
}

.age-select:focus {
  box-shadow: none;
  border: 2px solid #12264e;
}

.selected-pacements {
  background-color: #F3F1EF;
  height: 170px;
  overflow-y: scroll;

}

.date-section {
  background-color: #D0D6DE;
  color: #7366FF;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 10px;

}

/* modal-dialog box two  style end */

/* modal-dialog box three  style end */

.create-your-ads {
  width: 80%;
  max-width: 80%;
} 

.post-preview-height {
   height: 580px;
  overflow-y: scroll;
}

.create-your-ads-height {
  height: 580px;
  overflow-y: scroll;
}

.create-your-ads-bg {
  /* background-color: #E9E9E9; */
  padding: 0;
}

.bg-light-gray {
  background-color: #D5D2D3;
  border-radius: 100px;
  padding: 10px;
}

.bg-light-gray i {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.add-post-area {
  width: 100%;
  border: 1px solid rgb(0 0 0 / 18%);
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  border: 0;

}

.add-post-area textarea:focus {
  border: 1px solid #dddddd5d;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}



.upload-box {
  width: 80px;
  height: 80px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.upload-box img {
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

.upload-box input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-preview {
  width: 80px;
  height: 80px;
  /* border: 2px dashed #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: relative;
}


.post-preview {
  border: 1px solid rgb(0 0 0 / 18%);
  border-radius: 10px;
  margin: 15px 10px 0px 0px;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #fff;
}

.profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

/* .facebook-post-img img {
  width: 380px;
  height: 380px;
} */


/* modal-dialog box three  style end */


/* Vertical Progress Bar Styles */

.progress-container {
  /* height: 100%; */
  position: relative;
}

.progress-steps {
  position: relative;
  /* height: 100%; */
  margin-left: 20px;
}

.progress-line {
  position: absolute;
  left: 23px;
  top: 15px;
  bottom: 15px;
  width: 4px;
  background-color: #e9ecef;
  /* z-index: 9999;   */
}

.progress-line-fill {
  position: absolute;
  left: 23px;
  top: 15px;
  width: 4px;
  background-color: #0d6efd;
  /* z-index: 9999; */
  transition: height 0.3s ease;
}

.step-indicator {
  /* position: relative;
  display: flex;
  flex-direction: row;
  z-index: 3; */  
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  position: relative;
  z-index: 3;
  border-radius: 10px;
  padding: 10px;
}

.step-marker {
  margin-right: 12px;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e9ecef;
  color: #6c757d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid #e9ecef;
  margin-right: 10px;

}

.step-label {
  font-size: 0.9rem;
  color: #6c757d;
}

.step-indicator.active .step-circle {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.step-indicator.active .step-label {
  color: #0d6efd;
  font-weight: bold;
}

.step-indicator.completed .step-circle {
  background-color: #198754;
  color: white;
  border-color: #198754;
}

.step-indicator.completed .step-label {
  color: #198754;
}

.step-indicator:hover{
  /* background-color: #d7dd8147; */
  background-color:  #F3F4F6;
  cursor: pointer;
}

.step-indicator.active{
  /* background-color: #d7dd8147; */
  background-color:  #DBEAFE;
  border: 1px solid #0d6efd82;
  
}

/* Left sidebar scroll */
.left-sidebar-steps {
  overflow-y: auto;
  max-height: 70vh;
  background-color: white;
}

/* Main content scroll */
.custom-y-scroll {
  max-height: 70vh;
  overflow-y: auto;
}



/* Vertical Progress Bar Styles end */
/* 

phone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}
.phone-frame {
  width: 340px;
  height: 640px;
  border: 16px solid #000;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
}
.phone-notch {
  width: 100px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
  display: none;
}


.phone-frame .post-preview {
  margin: 0;
  border-radius: 21px 21px 0 0;
}

.camera-dot {
  width: 10px;
  height: 10px;
  background-color: #1c1c1c;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}


.sensor-dot {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0.5;
} */


phone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
}

.phone-frame {
  width: 340px;
  height: 640px;
  border: 16px solid #000;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
}

/* Notch with camera and sensor */
.phone-notch {
  width: 120px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 13px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
}

.phone-frame .post-preview {
  margin: 0;
  border-radius: 0;

}

.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 10px ;
  /* border-bottom: 1px solid rgb(0 0 0 / 18%); */
  align-items: center;
}

.web-ads-btn {
  padding: 8px 10px;
  font-size: 13px;
}

.mobile-ads-btn {
  padding: 6px 8px;
  font-size: 12px;
}

.custom-mobile-height {
  height: 555px;
  overflow-y: scroll;
}

.custom-mobile-height::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.mobile-footer {
  border: 2px solid #000;
  width: 35%;
  margin-top: 6px;
  border-radius: 100px;
}

/* intagram Preview  */

.instagram-footer i {
  color: #94989D;
  font-weight: 200;
}

.custom_p {
  font-size: 16px;
  margin: 10px 0;
  line-height: inherit;
}

.custom-add-account-modal {
    z-index: 99999;
    background-color: rgba(129, 129, 131, 0.671);
}

/* .modal-backdrop.show {
    z-index: 9999;
} */

.custom-modal-header .btn-close {
    background-color:#cccccc;
    border-radius: 50%;
    opacity: 1;
    padding: 5px;
    background-size: 60%;
    transition: all 0.3s ease;
  }
  
  .custom-modal-header .btn-close:hover {
    background-color: #cccccc;
    transform: scale(1.1);
  }
  
  .custom-modal-header .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }

.custom-modal-dialog {  
  z-index: 99999;
  background-color: rgba(129, 129, 131, 0.671);
}

.custom-modal-dialog .modal-dialog {
    max-width: 60%;
    width: 60%;
}

.step-content {
  display: flex;
  flex-direction: column; /* stack title + details vertically */
  margin-left: 8px;       /* space between circle and text */
}


.checkbox label::before {
  top: 7px;
}


.custom-back-btn {
  padding: 9px 20px;
  /* border: 2px solid red; */
  border-radius: 50px;
}

.step-indicator i {
  display: none !important;
}

.step-indicator:hover i {
  display: inline-block !important;
}